html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgba(245, 245, 245,0.9);
    padding: 10px 20px 0px;
}
.header {
    background-color: #428dc6 ;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 600px;
    padding: 20px;
    
}
.footer {
    background-color: rgba(0, 0, 255,0.7);
    min-height: 150px;
}
.title{
    background-color: whitesmoke;
}
.banner {
    background-image: url("IMG/banner-topo.jpg");
    height: 150px;
    width: 100%;
 }
.separador {
    width: 100%;
    height: 10px;
    background: #cfcfcf;
}
 .footer {
    background-color: white;
    min-height: 150px;
    
}
.elem{
    background-color:#cfcfcf;
    border-radius: 25px;
    width: 100%;
    margin-top: 05%;
    
}
.elem:hover{
    background-color: aqua;
}
.content-title{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0px auto 30px auto;
    color: #063064;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #063064;
}
.row{
    
    margin-top: 05%;
    margin-left: 02%;

}

.broken-menu {
    width: 0.1px;
    background-color: gray;
    padding: 10px 04px 0px;
}
.contact-title{
    width: 80%;
    height: auto;
    padding: 15px;
    margin: 0px auto 30px auto;
    margin-bottom: 5%;
    color: #063064;
    text-transform: uppercase;
    border: 1px solid #063064;
}
.form-row{
    margin: 5px;
}
label{
    width: 100px;
    text-align: right;
    display:inline-block;
    padding-right: 5px;
}
table thead th{
    color: white;
    background-color:  rgba(0, 0, 255,0.8);
}
table tbody tr:nth-child(even) td{
    background-color: #f1f1f1;
}
table tbody tr:hover td{
    background-color: #e9e9e9;
}
table{
    -webkit-box-shadow: 20px 25px 13px -21px rgba(0,0,0,0.42);
    -moz-box-shadow: 20px 25px 13px -21px rgba(0,0,0,0.42);
    box-shadow: 20px 25px 13px -21px rgba(0,0,0,0.42);
}
fieldset {
    border-radius: 5px;
    margin-top: 2%;
}
mark{
    background-color:rgba(0, 0, 255,0.4);
}